* {
  background-color: #404040;
  color: white;
  font-size: larger;
}

#buttons {
  display: flex;
}

#inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* make sure we center all text, elements etc vertically */
  align-items: center;
  justify-content: center;
}

button {
  height: 80px;
  width: 200px;
  font-size: larger;
}

input {
  height: 80px;
  max-width: 600px;
  min-width: 200px;
  font-size: larger;
}

audio-control {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  border: 1px solid grey;
  padding-left: 1em;
  padding-right: 1em;
}

audio-control::part(input) {
  height: 80px;
  max-width: 600px;
  min-width: 600px;
}

audio-control::part(label) {
}

audio-control::part(output) {
  color: white;
}

audio-control::part(select) {
  height: 40px;
  width: 200px;
  font-size: larger;
  background-color: #404040;
  color: white;
  border: none;
}
